<p-card class="my-4">
  <ng-template #title>
    <span>Datos de Facturación</span>
    <p-divider />
  </ng-template>
  <form [formGroup]="fgFacturation" class="flex flex-col gap-8 mb-8">
    <p-selectbutton
      [options]="kindOfPersonOptions"
      formControlName="kindOfPerson"
      optionLabel="label"
      optionValue="value"
      aria-labelledby="basic"
      [invalid]="kindOfPerson === null"
    />
    <p-floatlabel>
      <p-inputmask
        [mask]="nationalIdInputMask"
        formControlName="nationalId"
        id="nationalId"
        name="nationalId"
        styleClass="w-full"
      />
      <label for="nationalId">Documento de Identidad</label>
    </p-floatlabel>
    @if (nationalId !== '') {
    <p-floatlabel>
      <input pInputText formControlName="fullName" id="fullName" name="fullName" class="w-full" />
      <label for="fullName">Nombre Completo</label>
    </p-floatlabel>

    <p-inputgroup>
      <p-floatlabel>
        <input
          pInputText
          formControlName="firstName"
          id="firstName"
          name="firstName"
          class="w-full"
        />
        <label for="firstName">Primer Nombre</label>
      </p-floatlabel>
      <p-floatlabel>
        <input
          pInputText
          formControlName="secondName"
          id="secondName"
          name="secondName"
          class="w-full"
        />
        <label for="secondName">Sengundo Nombre</label>
      </p-floatlabel>
    </p-inputgroup>

    <p-floatlabel>
      <input pInputText formControlName="lastName" id="lastName" name="lastName" class="w-full" />
      <label for="lastName">Apellidos</label>
    </p-floatlabel>

    <p-floatlabel>
      <p-inputmask
        mask="(999) 999-9999"
        formControlName="phoneNumber"
        id="secondLastName"
        class="w-full"
      />
      <label for="phoneNumber">Número de Celular</label>
    </p-floatlabel>
    <p-floatlabel>
      <input pInputText formControlName="email" id="email" name="email" class="w-full" />
      <label for="email">Correo Electrónico</label>
    </p-floatlabel>
    <p-inputgroup>
      <p-floatlabel>
        <input pInputText readonly formControlName="state" id="state" name="state" class="w-full" />
        <label for="state">Departamento</label>
      </p-floatlabel>

      <p-floatlabel>
        <p-autocomplete
          formControlName="city"
          id="city"
          name="city"
          [suggestions]="optionsCities"
          (completeMethod)="filterCountry($event)"
          [dropdown]="true"
          dropdownAriaLabel="Desplegable de ciudades"
          optionLabel="name"
          optionValue="name"
        />
        <label for="state">Ciudad</label>
      </p-floatlabel>
    </p-inputgroup>
    <p-floatlabel>
      <input pInputText id="address" name="address" formControlName="address" class="w-full" />
      <label for="address">Dirección de facturación</label>
    </p-floatlabel>
    }
  </form>
</p-card>
@if (cartInstance.transactionId) {

<p-card class="my-4">
  <ng-template #title>
    <span>Envío</span>
    <p-divider />
  </ng-template>
  <form [formGroup]="fgShipping" class="flex flex-col gap-8">
    <div class="flex flex-col items-center">
      <label for="area-metropolitana" class="ml-2"
        >¿Desea utilizar la misma dirección de la facturación?</label
      >
      <p-selectbutton
        [options]="useFacturactionAdressDataOptions"
        formControlName="useFacturactionAdressData"
        optionLabel="label"
        optionValue="value"
        aria-labelledby="basic"
        [invalid]="fgFacturation.invalid"
        />
    </div>

    <p-divider />

    <p-floatlabel>
      <p-inputmask
        mask="(999) 999-9999"
        formControlName="phoneNumber"
        id="secondLastName"
        class="w-full"
      />
      <label for="phoneNumber">Celular de quien recibe</label>
    </p-floatlabel>
    <p-inputgroup>
      <p-floatlabel>
        <input pInputText readonly formControlName="state" id="state" name="state" class="w-full" />
        <label for="state">Departamento</label>
      </p-floatlabel>

      <p-floatlabel>
        <p-autocomplete
          formControlName="city"
          id="city"
          name="city"
          [suggestions]="optionsCities"
          (completeMethod)="filterCountry($event)"
          [dropdown]="true"
          dropdownAriaLabel="Desplegable de ciudades"
          optionLabel="name"
          optionValue="name"
        />
        <label for="state">Ciudad</label>
      </p-floatlabel>
    </p-inputgroup>
    <p-floatlabel>
      <input pInputText id="address" name="address" formControlName="address" class="w-full" />
      <label for="address">Dirección de facturación</label>
    </p-floatlabel>
  </form>
</p-card>
}
