<div class="flex flex-col px-6 md:px-16 py-8 gap-6">
  <div class="flex flex-wrap bg-[#F1F1F1] rounded-xl p-6 md:p-8 gap-2">
    <form class="flex flex-wrap gap-2 w-full sm:overflow-auto md:overflow-hidden">
      @for (filter of filters; track $index) { @if (filter['type'] === 'select') {
      <p-select
        [options]="filter['options']"
        (onChange)="onChangeFilter($event, '')"
        optionLabel="value"
        optionValue="id"
        [placeholder]="filter['placeholder']"
        class="w-full md:w-max h-fit"
      />
      } @else if (filter['type'] === 'selectbutton') {
      <p-selectbutton
        [options]="filter['options']"
        [multiple]="true"
        optionLabel="value"
        optionValue="id"
        class="h-fit"
      />
      } @else { Sin tipo } }
      <p-button aria-label="Aplicar filtros" label="Aplicar filtros"></p-button>
    </form>
  </div>

  <div id="zc--breadcum-lenght" class="flex justify-between items-center p-4">
    <span class="text-2xl font-bold">Colección</span>
    <span class="text-sm">Mostrando {{ totalProducts }} resultados</span>
  </div>

  <div class="px-2 flex justify-center gap-8 flex-wrap">
    @for (product of products; track $index) {
    <app-product-card
      [uuid]="product.uuid"
      [name]="product.name"
      [reference]="product.reference"
      [type]="product.type"
      [description]="product.description"
      [price]="product.price"
      [imagesUrl]="product.imagesUrl"
      [quantityAvalible]="product.quantityAvalible"
    ></app-product-card>
    } @if(loadingMore) {
    <app-product-card></app-product-card>
    }
  </div>
</div>
