:host {
  ::ng-deep {
    .p-carousel-content {
      position: relative;
    }

    .p-carousel-next-button,
    .p-carousel-prev-button {
      position: absolute;
      z-index: 10;
      top: 50%;
    }

    .p-carousel-prev-button {
      left: 0;
    }

    .p-carousel-next-button {
      right: 0;
    }

    .p-carousel-indicator-button {
      border-radius: 5px;
      height: 10px;
    }
  }
}

#preview {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;

  .landing {
    position: relative;
    z-index: 100;

    border-radius: 0.75rem;
    object-fit: cover;

    width: 350px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    height: 30vh;
    height: 30dvh;

    @media (width >= 48rem) {
      height: 30vh;
      height: 30dvh;
    }

    @media (width >= 64rem) {
      height: 40vh;
      height: 40dvh;
    }

    @media (width >= 80rem) {
      height: 50vh;
      height: 50dvh;
    }
  }
}

.zc--title,
.zc--desc {
  position: relative;

  padding: 1rem;
  border-radius: 0.5rem;
}

.zc--title {
  z-index: 200;
  background-color: #000000;

  width: 180%;
  @media (width >= 48rem) {
    width: 100%;
  }

  @media (width >= 64rem) {
    padding: 1.4rem 2rem;
  }

  &-left {
    margin-left: -80%;
    @media (width >= 48rem) {
      margin-left: 0%;
    }
  }

  &-right {
    margin-right: -80%;
    @media (width >= 48rem) {
      margin-right: 0%;
    }
  }

  h2 {
    color: #ffffff;
  }
}

.zc--desc {
  z-index: 300;

  width: 100%;
  margin-top: -0.5rem;
  margin-left: -1rem;
  margin-right: -1rem;
  background-color: var(--p-primary-color);
  display: flex;
  align-items: center;
  gap: 1rem;

  @media (width >= 48rem) {
    width: 90%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  p,
  i {
    color: #ffffff;
    font-weight: 600;
  }
}

.zc--tip {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.zc--bg-tip {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  font-weight: 500;
  text-decoration: underline 0.1em rgba(0, 0, 0, 0);
  text-underline-offset: 0.2em;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;
  cursor: pointer;

  &:hover {
    text-decoration-color: currentColor;
    text-underline-offset: 0.4em;
  }
}

#zc--carousel-img {
  height: 100%;
  width: 100%;
}

video {
  width: 100%;
  height: 60vh;
  height: 60dvh;
  @media (width >= 48rem) {
    height: 60vh;
    height: 60dvh;
  }

  @media (width >= 64rem) {
    height: 80vh;
    height: 80dvh;
  }
}
