<p-toast />
<div
  id="zc--img-container"
  class="relative h-[20rem] flex items-center justify-center justify-content-center overflow-hidden"
>
  @if (imagesUrl) {
  <p-carousel
    [value]="imagesUrl"
    [numVisible]="1"
    [numScroll]="1"
    [circular]="false"
    [showIndicators]="false"
    [showNavigators]="showNavigators"
    [responsiveOptions]="responsiveOptions"
    class="h-full"
  >
    <ng-template let-image #item>
      <div class="relative h-[20rem] flex items-center justify-center" (click)="goToDetails()" (keydown)="goToDetails()">
        <img [src]="image.url ?? '/zc.png'" alt="ZC Imágen de Producto" class="relative object-cover z-110" />
        <img
            [src]="image.url ?? '/zc.png'"
            alt="ZC Imágen de Producto de fondo"
            class="zc--bg-blur absolute object-cover w-full blur-md z-100"
          />
      </div>
    </ng-template>
  </p-carousel>
  } @else {
  <p-skeleton height="20rem" />
  }
  <p-button
    id="add-product"
    aria-label="Agregar al carrito"
    label="Agregar al carrito"
    icon="pi pi-shopping-bag"
    class="z-100"
    (onClick)="addProductToCart()"
  ></p-button>
</div>
<div id="details" class="flex flex-col p-6 gap-2" (click)="goToDetails()" (keydown)="goToDetails()">
  @if (name) {
  <span class="font-bold text-xl">{{ name }}</span>
  } @else {
  <p-skeleton />
  } @if (price) {
  <span>{{ price | currency }}</span>
  } @else {
  <p-skeleton width="10rem" height="3rem" />
  }
</div>
