<p-confirmdialog />
<section class="w-full md:w-[50%] lg:w-[70%]">
  <p-card>
    <ng-template #title>
      <span>Productos</span>
      <p-divider />
    </ng-template>
    @if (products.length === 0) {
    <div class="flex flex-col items-center justify-center h-64">
      <span class="text-lg mb-4">Tu carrito está vacío</span>
      <p-button label="Ir a la tienda" (onClick)="goToStore()" />
    </div>
    } @else { @for (product of products; track $index) {
    <div class="flex flex-col lg:flex-row gap-4 mb-4">
      <div class="flex gap-4 w-full">
        <p-checkbox
          [name]="product.name"
          [id]="product.uuid"
          [(ngModel)]="product.isSelected"
          [binary]="true"
        />
        <a class="w-20 rounded-lg" [routerLink]="'/collections/details/' + product.uuid">
          <img
            class="w-20 rounded-lg"
            [src]="product.imagesUrl[0].url"
            [alt]="product.imagesUrl[0].name"
          />
        </a>
        <div class="flex flex-col justify-between w-full">
          <a class="text-lg font-bold" [routerLink]="'/collections/details/' + product.uuid">{{
            product.name
          }}</a>
          <p-button
            label="Eliminar"
            variant="text"
            severity="danger"
            (onClick)="confirm($event, product)"
          />
        </div>
      </div>
      <div class="flex gap-4 ml-10 lg:ml-0 justify-between lg:justify-start">
        <p-inputNumber
          class="h-8"
          [(ngModel)]="product.amount"
          [min]="1"
          [max]="product.quantityAvalible"
          [inputStyle]="{ width: '3rem' }"
          [showButtons]="true"
          buttonLayout="horizontal"
        >
          <ng-template #incrementbuttonicon>
            <span class="pi pi-plus"></span>
          </ng-template>
          <ng-template #decrementbuttonicon>
            <span class="pi pi-minus"></span>
          </ng-template>
        </p-inputNumber>
        <div class="flex flex-col gap-4">
          <span class="text-md font-bold">{{ product.price * product.amount | currency }}</span>
          <span class="text-sm">{{ product.price | currency }} c/u</span>
        </div>
      </div>
    </div>

    }}
  </p-card>
  <router-outlet></router-outlet>
</section>
<p-card role="region" class="w-full md:w-[40%] lg:w-[20%] h-min sticky top-25">
  <ng-template #title>
    <span>Resumen</span>
    <p-divider />
  </ng-template>

  <div class="flex flex-row justify-between items-start gap-2">
    <span class="text-md"
      >Productos {{ cartTotalProducts === 0 ? '' : '(' + cartTotalProducts + ')' }}</span
    >
    <span class="text-md">{{ cartTotalPrice | currency }}</span>
  </div>
  <div class="flex flex-row justify-between items-start gap-2">
    <span class="text-md"
      >Envío
      <i
        class="pi pi-question-circle"
        style="font-size: 0.8rem"
        (click)="op.toggle($event)"
        pTooltip="Click para más detalles"
      ></i
    ></span>
    <span class="text-md">{{ shippingCostToString }}</span>
  </div>
  <div class="flex flex-row justify-between items-start gap-2">
    <b class="text-lg">Total</b>
    <b class="text-lg">{{ cartTotal | currency }}</b>
  </div>
  <ng-template #footer>
    <p-button
      [label]="canFinalize ? 'Finalizar compra' : 'Continuar compra'"
      styleClass="w-full"
      (onClick)="continue($event)"
      [loading]="isLoading"
    />
  </ng-template>
</p-card>

<p-popover #op>
  <div class="flex flex-col gap-4 w-full md:w-[25rem]">
    <span class="font-bold text-lg">Tarifas de Envío</span>
    <p-divider class="my-1"></p-divider>
    <p>Por compras <i>superiores a $400.000</i> el envío es <b>GRATIS</b>.</p>
    <ol class="p-0 m-0 flex flex-col gap-2">
      <li><b>$13.000</b> - Medellín, Bello, Itagüi, Sabaneta y La Estrella</li>
      <li><b>$18.000</b> - Resto del país.</li>
    </ol>
  </div>
</p-popover>
