<h2 class="text-center text-4xl">¿Para que sirven los protectores de tacón?</h2>
<p class="text-xl">
  Son el accesorio ideal para prolongar la vida útil de tus zapatos y evitar accidentes.
  <br />
  Están diseñados para:
</p>
<ul>
  <li class="text-xl">
    Proteger tus tacones de desgaste y daños, manteniéndolos como nuevos por más tiempo.
  </li>
  <li class="text-xl">Evitar que se hundan en superficies blandas como césped, arena o tierra.</li>
  <li class="text-xl">
    Prevenir resbalones en pisos lisos o mojados gracias a su base antideslizante.
  </li>
  <li class="text-xl">Reducir el ruido al caminar, brindando mayor comodidad y discreción.</li>
</ul>
