<p-toast />
<p-breadcrumb [home]="home" [model]="breadcumItems" />

@if (isLoading) {
<div class="card flex justify-center">
  <p-progress-spinner ariaLabel="loading" class="h-[50vh]" />
</div>
} @else {
<div id="content" class="flex flex-col md:flex-row gap-6">
  <div class="lg:w-[50%]">
    <p-carousel
      [value]="images"
      [numVisible]="2"
      [numScroll]="1"
      [circular]="true"
      [responsiveOptions]="responsiveOptions"
      class="h-full rounded-lg"
    >
      <ng-template let-image #item>
        <div class="relative h-[50vh] lg:h-[60vh] flex items-center justify-center">
          <img
            [src]="image.url ?? '/zc.png'"
            alt="ZC Imágen de Producto"
            class="relative object-cover z-110"
          />
          <img
            [src]="image.url ?? '/zc.png'"
            alt="ZC Imágen de Producto de fondo"
            class="zc--bg-blur absolute object-cover w-full h-full blur-md z-100"
          />
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <div class="details flex flex-col gap-4 lg:w-[50%]">
    <div id="general" class="flex">
      @if (product) {
      <div class="w-full">
        <h3 class="text-2xl">{{ product.name }}</h3>
        <span class="text-sm">{{ product.reference }}</span>
        <h4 class="mt-2">{{ product.price[0].price | currency }}</h4>
      </div>
      @if(attachments.length > 0) {
      <p-button
        severity="secondary"
        icon="pi pi-book"
        iconPos="right"
        label="Guía de tallas"
        class="w-48"
        (click)="sizesGuideDialogIsVisible = true"
        (keydown)="sizesGuideDialogIsVisible = true"
      />
      } } @else {
      <p-skeleton class="mb-4"></p-skeleton>
      <p-skeleton class="mb-4"></p-skeleton>
      <p-skeleton class="mb-4"></p-skeleton>
      }
    </div>
    <p-accordion value="2" [multiple]="true">
      <p-accordion-panel value="0">
        <p-accordion-header><span class="text-xl">Colores</span></p-accordion-header>
        <p-accordion-content>
          <div id="colors">
            @if (colors.length === 0 || onChanging) {
            <p-skeleton class="p-5" width="50%"></p-skeleton>

            } @else {
            <p-selectbutton
              #colorSelect
              [options]="colors"
              (onChange)="onColorChange($event)"
              optionLabel="value"
              optionValue="value"
              optionDisabled="isDisabled"
            />
            }
          </div>
        </p-accordion-content>
      </p-accordion-panel>

      <p-accordion-panel value="1">
        <p-accordion-header><span class="text-xl">Tallas</span></p-accordion-header>
        <p-accordion-content>
          <div id="sizes">
            @if (sizes.length === 0 || onChanging) {
            <p-skeleton class="p-5" width="50%"></p-skeleton>

            } @else {
            <p-selectbutton
              #sizeSelect
              [options]="sizes"
              (onChange)="onSizeChange($event)"
              optionLabel="value"
              optionValue="value"
              optionDisabled="isDisabled"
            />
            }
          </div>
        </p-accordion-content>
      </p-accordion-panel>

      <p-accordion-panel value="2">
        <p-accordion-header><span class="text-xl">Descripción</span></p-accordion-header>
        <p-accordion-content>
          <div id="description">
            @if (product) {
            <p>{{ product.description }}</p>
            } @else {
            <p-skeleton></p-skeleton>
            }
          </div>
        </p-accordion-content>
      </p-accordion-panel>
    </p-accordion>

    @if(canBuyProduct) {
    <div id="footer" class="flex flex-col gap-4">
      <p-inputNumber
        class="h-8"
        styleClass="w-16"
        [(ngModel)]="amount"
        [min]="1"
        [inputStyle]="{ width: '3rem' }"
        [showButtons]="true"
        buttonLayout="horizontal"
      >
        <ng-template #incrementbuttonicon>
          <span class="pi pi-plus"></span>
        </ng-template>
        <ng-template #decrementbuttonicon>
          <span class="pi pi-minus"></span>
        </ng-template>
      </p-inputNumber>

      <p-button
        icon="pi pi-shopping-bag"
        [label]="productIsInCart ? 'Producto en la bolsa' : 'Agregar la carrito'"
        [disabled]="productIsInCart"
        class="w-full"
        (click)="addProductToCart()"
        (keydown)="addProductToCart()"
      />
    </div>
    } @else {
    <p-message severity="error">Sin existencias</p-message>
    }
  </div>
</div>
}
<!-- Dialog: Variantes -->
<p-dialog
  header="Selecciona una variante"
  appendTo="body"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '25rem' }"
>
  <span class="p-text-secondary block mb-8"
    >Seleccione una variante del producto para agregarlo al carrito.</span
  >
  <div class="flex flex-col items-center gap-4 mb-4">
    <p-listbox
      [(ngModel)]="selectedVariant"
      [options]="product.variants"
      optionLabel="name"
      optionValue="id"
      [checkmark]="true"
      [highlightOnSelect]="true"
      class="w-full"
    />

    <p-inputNumber
      class="h-8"
      [(ngModel)]="amount"
      [min]="1"
      [inputStyle]="{ width: '3rem' }"
      [showButtons]="true"
      buttonLayout="horizontal"
    >
      <ng-template #incrementbuttonicon>
        <span class="pi pi-plus"></span>
      </ng-template>
      <ng-template #decrementbuttonicon>
        <span class="pi pi-minus"></span>
      </ng-template>
    </p-inputNumber>
  </div>

  <div class="flex justify-end gap-2">
    <p-button label="Cancelar" severity="secondary" (click)="visible = false" />
    <p-button label="Confirmar" (click)="confirmAddToCart()" />
  </div>
</p-dialog>
<!-- Dialog: Guía de Tallas -->
<p-dialog
  header="Guía de Tallas"
  appendTo="body"
  [modal]="true"
  [(visible)]="sizesGuideDialogIsVisible"
  [style]="{ width: '80wh' }"
>
  <p-tabs [value]="attachments[0]?.id ?? 0">
    <p-tablist>
      @for (attachment of attachments; track attachment.id) {
      <p-tab [value]="attachment.id">{{ attachment.name }}</p-tab>
      }
    </p-tablist>
    <p-tabpanels>
      @for (attachment of attachments; track attachment.id) {
      <p-tabpanel [value]="attachment.id">
        <div class="w-[80vh]">
          <img [src]="attachment.url" [alt]="attachment.name" class="w-full object-contain" />
        </div>
      </p-tabpanel>
      }
    </p-tabpanels>
  </p-tabs>
</p-dialog>
