@use '@ngxpert/hot-toast/src/styles/styles.scss';
@use 'tailwindcss';
@plugin "tailwindcss-primeui";

@font-face {
  font-family: 'Lovelo';
  src: url('/fonts/lovelo/Lovelo-Black.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Advent Pro';
  src: url('/fonts/Advent_Pro/AdventPro-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@theme {
  --font-lovelo: Lovelo, sans-serif;
  --font-advent-pro: 'Advent Pro', sans-serif;
  --font-display: Lovelo, sans-serif;
  --font-sans: Lovelo, sans-serif;
}
:root {
  --p-accordion-header-first-border-width: 0 0 1px 0;
  --p-accordion-header-border-width: 0 0 1px 0;
}

.p-accordioncontent-content {
  border-radius: 0 0 1rem 1rem;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  min-height: 100vh;
  padding-bottom: env(safe-area-inset-bottom, 0);
  overflow-x: hidden;
  overflow-y: auto;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
a,
span,
li,
b,
i,
label,
input,
.p-toast-detail,
.p-tooltip,
.p-badge,
.p-card-subtitle,
td,
th {
  font-family: 'Advent Pro', sans-serif;
}

h2 {
  color: var(--p-primary-color);
}
