:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 2rem;

  @media (width >= 48rem) {
    padding: 1.5rem 3rem;
  }

  @media (width >= 64rem) {
    padding: 5rem 15rem;
  }

  @media (width >= 80rem) {
    padding: 5rem 20rem;
  }
}

ul {
  list-style: disc;
  padding: 0 2rem;
}

