<h2 class="text-center text-4xl">¿Para que sirve el cepillo de zapatos?</h2>
<p class="text-xl">
  Mantén tus zapatos de baile impecables y listos para brillar en cada presentación. Este cepillo
  está diseñado especialmente para limpiar y revitalizar las suelas de gamuza de los zapatos de
  baile, eliminando la suciedad, polvo y marcas que afectan el agarre y la seguridad al bailar.
  <br />
  <br />
  Beneficios principales:
</p>
<ul>
  <li class="text-xl">Restaura el agarre de la suela, evitando deslizamientos.</li>
  <li class="text-xl">Elimina la suciedad y marcas sin dañar el material.</li>
  <li class="text-xl">
    Diseño ergonómico y resistente con mango de madera y cerdas de acero de alta calidad.
  </li>
  <li class="text-xl">Ideal para zapatos de baile latino, jazz, contemporáneo y más.</li>
</ul>
