:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 2rem;

  @media (width >= 80rem) {
    padding: 1rem 4rem;
  }
}

.p-divider-horizontal::before {
  border-block-start: 4px solid var(--p-text-color);
}

.zc--card {
  min-width: 300px;
  max-width: 600px;
  min-height: 450px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .zc--img-h.p-image,
  img {
    position: relative;
    height: 450px;
    width: fit-content;
  }

  .zc--img-v.p-image,
  img {
    position: relative;
    width: fit-content;
  }

  p {
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    color: #333;
  }
}
